/*************************/
/////// GENERAL VARS //////
/*************************/

$tooltip-widths-gen: 40px 40px 40px; 
$background-color: $color-2; 
$triangle-widths: 5px 5px 5px;
$text-color:$color-1;

/*************************/
/////// CUSTOM VARS /////// 
/*************************/

$tooltip-widths: 40px 40px 40px; 

/*************************/
///// TYPOGRAPHY VARS /////
/*************************/

//TODO vars

/*************************/
///// COMPONENT CODE //////
/*************************/
.element-tooltip{
    position:relative; 
    color: $text-color;
    vertical-align: middle;
    .element-tooltip__content{
        display: none;
        position:absolute; 
        width:nth($tooltip-widths-gen, 1); 
        height: auto;
        background-color:$background-color;
        text-align: center;
        margin-top:-2px;
        color: $text-color;
        vertical-align: middle;
        .shown-element-container{
            display: inline-block;
        }
        
        a,i{
            color: $text-color;
        }
    }

    &.trigger-on-hover:hover{
        & > .element-tooltip__content{
            display: block!important;
        }
    }

    &.trigger-on-click[data-visible="true"]{
        & > .element-tooltip__content{
            display: block!important;
        }
    }

    &.top-side{
        .element-tooltip__content{
            bottom:100%; 
            left:50%; 
            margin-left:-(nth($tooltip-widths-gen, 1)/2) - 0px; 
        }
        &.has-arrow{
            & > .element-tooltip__content{
                margin-bottom:10px;
                &:after{
                    content:' ';
                    position:absolute; 
                    top:100%; 
                    left:50%; 
                    margin-left:-(nth($triangle-widths, 1)) - 0px; 
                    width: 0; 
                    height: 0; 
                    border-left: nth($triangle-widths, 1) solid transparent;
                    border-right: nth($triangle-widths, 1) solid transparent;
                    border-top: (nth($triangle-widths, 1)*3) solid $background-color;
                }
            }

        }
    }

    &.bottom-side{
        .element-tooltip__content{
            top:100%; 
            left:50%; 
            margin-left:-(nth($tooltip-widths-gen, 1)/2) - 0px; 
        }

        &.has-arrow{
            & > .element-tooltip__content{
                margin-bottom:10px;
                &:after{
                    content:' ';
                    position:absolute; 
                    bottom:100%; 
                    left:50%; 
                    margin-left:-(nth($triangle-widths, 1)) - 0px; 
                    width: 0; 
                    height: 0; 
                    border-left: nth($triangle-widths, 1) solid transparent;
                    border-right: nth($triangle-widths, 1) solid transparent;
                    border-bottom: (nth($triangle-widths, 1)*3) solid $background-color;
                }
            }
        }
    }

    &.right-side{
        .element-tooltip__content{
            top:50%; 
            left:100%; 
            margin-top:-(nth($tooltip-widths-gen, 1)/2) - 0px; 
            height:40px; 
            width:auto;
            margin-left:0px; 
        }

        &.has-arrow{
            & > .element-tooltip__content{
                margin-left:10px;
                &:after{
                    content:' ';
                    position:absolute; 
                    right:100%; 
                    top:50%; 
                    margin-top:-(nth($triangle-widths, 1)) - 0px; 
                    width: 0; 
                    height: 0; 
                    border-top: nth($triangle-widths, 1) solid transparent;
                    border-bottom: nth($triangle-widths, 1) solid transparent;
                    border-right: (nth($triangle-widths, 1)*3) solid $background-color;
                }
            }
        }
    }

    &.left-side{
        .element-tooltip__content{
            top:50%; 
            right:100%; 
            margin-top:-(nth($tooltip-widths-gen, 1)/2) - 0px; 
        }

        &.has-arrow{
            & > .element-tooltip__content{
                margin-right:10px;
                &:after{
                    content:' ';
                    position:absolute; 
                    left:100%; 
                    top:50%; 
                    margin-top:-(nth($triangle-widths, 1)) - 0px; 
                    width: 0; 
                    height: 0; 
                    border-top: nth($triangle-widths, 1) solid transparent;
                    border-bottom: nth($triangle-widths, 1) solid transparent;
                    border-left: (nth($triangle-widths, 1)*3) solid $background-color;
                }
            }
        }
    }
}

/*************************/
/////// CUSTOM CODE /////// 
/*************************/


.element-tooltip-container{
    &.settings-tooltip{
        display: inline-block; 
        width:40px; 
        height:38px; 
        text-align: center; 
        line-height: 40px;
        margin: 0px 0px 0px 10px;
        & > i{
            font-size: 40px;
            vertical-align: middle;
        }
    }
}